* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f0f0f0;
    font-family: 'Josefin Sans', sans-serif !important;
}
#header {
    text-align: center;
    margin-top: 3rem;
    font-size: 6rem;
    letter-spacing: -0.6rem;
    background: linear-gradient(to right, #a6c8e7, #5f90cb, #27394b);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.container {
    margin: 6rem 4rem;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
input {
    width: 30%;
    margin-right: 1rem;
    border: 2px solid #3498db;
    border-radius: 8px;
    outline: none;
    font-size: 1.5rem;
    padding: 1rem;
}
input::placeholder {
    font-size: 1rem;
}
input:focus {
    border: 2px solid #27394b;
}
select {
    margin-right: 1rem;
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 0 1rem;
}
option {
    padding: 1rem;
}
button {
    font-size: 1.2rem;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    color: #f0f0f0;
    background-color: #27394b;
    cursor: pointer;
}
button:hover {
    background-color: #a6c8e7;
    color: #1e3143;
}
.output-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    width: 55%;
    height: 15vw;
    border: 2px solid #c4c4c4;
    border-radius: 8px;
    box-shadow: 4px 4px 12px rgba(26, 45, 63, 0.3);
}
#output {
    font-size: 1.8rem;
    color: #1a2d3f;
}

/* Responsive Design */
@media screen and (max-width: 912px) {
    #header {
        font-size: 3rem;
        letter-spacing: 0;
        margin-top: 2rem;
    }
    .container {
        margin: 4rem 2rem;
    }
    .box {
        flex-direction: column;
        align-items: center;
    }
    input {
        width: 80%;
        font-size: 1rem;
    }
    select {
        margin: 1rem 0 0 0;
        padding: 1rem;
        width: 50%;
    }
    button {
        margin-top: 1rem;
        padding: 1rem;
        width: 50%;
    }
    .output-box {
        width: 90%;
        height: 25vw;
    }
    #output {
        font-size: 1rem;
        padding: 0.5rem;
        text-align: center;
    }
}